* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --primary-desc-color: #5a6473;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
/* 
main {
    position: relative;
} */

a {
    text-decoration: none;
}

.content {
    /* text-align: center; */
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    border-radius: 12px;
    padding: 18px 57px;
    color: #fff;
    background-color: var(--primary-color);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ==========HEADER========= */

.fixed-header {
    position: sticky;
    top: -26px;
    z-index: 1;
    background-color: #e6f0ff;
    padding-top: 26px;
}

/* NAVBAR */
main .hero-wrap {
    position: relative;
    min-height: calc(100vh - 90px);
    background-color: #e6f0ff;
}

.fixed-header .navbar {
    position: sticky;
    top: 0;
    display: flex;
    /* padding-top: 38px; */
    padding: 12px 0;
    align-items: center;
    margin: 0 auto;
}

.fixed-header ul {
    display: flex;
    margin-left: 50px;
}

.fixed-header .logo {
    width: 107px;
    height: 24px;
    color: var(--primary-color);
}

.fixed-header .navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f5361;
}

.fixed-header .actions {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.sign-in {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: var(--primary-color);
}

.sign-up {
    margin-left: 18px;
    padding: 13px 21px;
    border-radius: 8px;
}

/* HERO-INFO */

.hero-wrap .hero-info {
    padding-top: 130px;
    width: 50.4%;
}

.hero-wrap .hero-info .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: left;
    color: #687690;
}

.hero-wrap .hero-info .title {
    margin-top: 8px;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0em;
    text-align: left;
    color: #000336;
}

.hero-wrap .hero-info .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-desc-color);
}

.hero-wrap .hero-info .btn-cta {
    margin-top: 40px;
}
/* HERO-IMG */
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* =======CLIENTS====== */

.clients {
    margin-top: 79px;
}

.clients .content {
    padding: 43px 0 41px;
}

.clients .desc .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    display: flex;
    justify-content: space-between;
}

.desc .desc1 {
    margin-top: 23px;
}

.desc .desc2 {
    margin-top: 18.15px;
}

.clients .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .icon a {
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .icon a:hover {
    box-shadow: 0px 10px 20px 0px #0000001a;
}
/* =======GUIDES======= */

/* DESC */

.guides {
    margin: 40px 0 41px;
    text-align: center;
}

.guides .content {
    padding-bottom: 79px;
    padding: 70px 0;
}

.guides .desc {
    text-align: center;
}

.guides-title::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 41px;
    height: 4px;
    border-radius: 12px;
}

.guides-title {
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    color: #000336;
}

.guides-desc {
    text-align: center;
    width: 459px;
    margin: 20px auto 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0em;
    color: var(--primary-desc-color);
}

/* icon */

.guides-icon {
    display: flex;
    justify-content: center;
}

.guides .item {
    margin: 70px 70px 0;
}

.guides h3 {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: center;
    color: #3b3c45;
}

.guides span {
    display: inline-block;
    margin-top: 10px;
}
.guides .item .link {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;

    color: #0689ff;
}

.guides .item .arrow {
    margin-left: 8px;
}

/* BTN - CALL TO ACTION */

.guides .btn-cta {
    margin-top: 62px;
}

/* =======FEATURED======= */

/* header */
.featured {
    background-color: #f5fafe;
    margin-top: 41px;
    border-radius: 12px;
}

.featured .headerofF .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .row .link {
    font-size: 1.6;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0em;
    color: #0689ff;
}

.featured .headerofF .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0em;
    text-align: left;
    color: #5a6473;
}

.featured .headerofF .title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .content {
    padding: 110px 0;
}
/* thumb */

.featured .list {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item {
    flex: 1;
}

.featured .body .title a {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #000339;
}

.featured .body .title a:hover {
    color: purple;
}

.featured .body .desc {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #a3a6ab;
    word-break: break-all;
}

.featured .item .body {
    padding: 12px 20px 22px;
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: left;
}

.featured .item .info {
    margin-top: 21px;
    display: flex;
}

.featured .body .icon {
    margin-left: 23px;
}

.featured .body .icon:first-child {
    margin-left: 0;
}

.featured .body .label {
    margin-left: 8px;
    font-size: 1.4;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
}

.featured .body .row {
    width: 290px;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1017px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .info {
    padding: 65px 0 69px 165px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0em;
    text-align: left;
    color: #5a6473;
}

.stats .img-block {
    position: relative;
}

.stats .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 0;
    border-radius: 12px;
    background-color: #000339;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: left;
    color: #000339;
}

.stats .img-block .big-avatar {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats-desc {
    max-width: 194px;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #a7a7a7;
}

.stats-trend {
    position: absolute;
    width: 239px;
    padding: 45px 22px 41px;
    top: 0;
    left: 0;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
}

.stats .separate {
    margin-top: 25.5px;
    height: 1.2px;
    background-color: #e9e9e9;
}

.stats .stats-trend .arrow-trend {
    margin-left: auto;
}

.stats .row .trend {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000339;
}

/* image block */

.stats .image-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25.8px;
    gap: 16px 14px;
}

.stats .image-block .img-group {
    display: flex;
}

.stats .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.34px;
    height: 16.34px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    font-family: Circular Std;
    font-size: 0.7rem;
    font-weight: 450;
    line-height: 1.1;
    letter-spacing: -0.02em;
    background: var(--bg-color, #fff);
    color: #fff;
}

.stats .avatar:first-child {
    margin-left: 0;
}

/* quantity */

.row-qty {
    padding: 0 32px;
    justify-content: space-between;
    margin-top: 110px;
}

.stats .row .qty {
    margin-top: 110px;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.stats .row .qty-desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #7b8087;
}

/* subscription */

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: #063183;
    width: 1110px;
    height: 370px;
    border-radius: 20px;
}

.subscription .body .info {
    width: 670px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .body .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.subscription .body .desc {
    /* --line */
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.subscription .body .btn-cta {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px 43px;
    color: #002366;
}

.subscription .body .phone {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer .content {
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-1 {
    gap: 185px;
}

.footer .row-2 {
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .row-1 .heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: #1c1c1d;
}

.footer .row-1 .column .list {
    margin: 42px 0 0;
}

.footer .row-1 .item a,
.footer .row-1 .desc {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7a7a7e;
}

.footer .row-1 .desc {
    white-space: normal;
    line-height: 1.75;
}
.footer .row-1 .item {
    margin-top: 18px;
}

.footer .row-2 .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #c2c2c2;
}

.footer .row-1 .list-social {
    display: flex;
    margin-top: 40px;
    width: 117px;
    justify-content: space-between;
}

.footer .social-link {
    width: 28.47px;
    height: 28.47px;
}
